@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Maplibre overrides */
.maplibregl-popup-content {
  border-radius: 8px !important;
  padding: 10px 14px !important;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15) !important;
}

.maplibregl-ctrl-group {
  border-radius: 8px !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15) !important;
}
